body{
    text-align: center;
    margin-top: 5vmin;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
}
a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vmin;
}